.nav { 
    background-color: lightgrey;
    width: 100%;
    height: 48px;
}
ul {
  margin-left: -40px;
}
li {
    background-color: black;
    width: 13%;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding:15px;
}
.left {
    width: 29%;
    height: 900px;
    background-color: blue;
    float: left;
}

.right {
    width: 70%;
    height: 900px;
    background-color: cadetblue;
    float: right;
}

.top {
    width: 29%;
    height: 100px;
    background-color: coral;
    float: left;
}